@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #fff7ef;
  --color1: #fff7ef;
  --color2: #dfe0df;
  --color3: #ff8000;
  --color4: #222222;
  --color5: #2e2e2e;
}
* {
  animation: pageTransition 0.8s;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  background-image: linear-gradient(var(--color3), var(--color2));
}
@keyframes pageTransition {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.contact-vars {
  color: var(--main-color2);
}
.heading1 {
  color: var(--main-color2);
  padding-bottom: 0.3em;
  text-align: center;
}
.submit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-color3);
  border-radius: 5px;
  padding: 0 3px;
}
.submit-form input {
  margin-bottom: 4px;
}
/* NEED TO CHANGE / IMPORT MODULE.CSS */
input,
textarea {
  background-color: var(--main-color1);
  color: var(--main-color2);
  border-radius: 5px;
}
.submit-button:hover {
  opacity: 50%;
}
.contactindividuals {
  padding: 0.5em;
}

.contactindividuals {
  color: var(--global-text-color);
  text-align: center;
}
svg {
  color: var(--spicy-color);
}
.contactfooterindividuals {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
